body {
    background-color: darksalmon;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: saddlebrown;
    text-align: center;
}

img {
    width: 250px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    color: darkgreen;
}

.description {
    background-color: beige;
    font-weight: 500;
}

ul {
    background-color: antiquewhite;
}

ol {
    background-color: bisque;
}